# idea conf files
.idea
*.ipr
*.iws
*.iml

# building
target
build
tmp
dist
output
gen

# misc
.DS_Store

/dependency-reduced-pom.xml
/joaswizard.log
/src/test/resources/.~lock.objectimport.xlsx#
/Samples/dependency-reduced-pom.xml
/Samples/joaswizard.log
/joaswizard.log.1
/joaswizard.log.2
/Samples/src/joaswizard.log
/.run/
/Samples/openapi_fromMySQLExcel.yaml
/Samples/openapi_fromyaml.yaml
/Samples/openapi_frommultipleyamlobjects.yaml
/Samples/openapi_fromexcel.yaml
/Samples/openapi_fromparameters.yaml
/pom.xml.versionsBackup
/src/test/resources/.~lock.mySQLObjectimport.xlsx#
