# eclipse conf file
.settings
.classpath
.project
.cache

node_modules

# idea conf files
.idea
*.ipr
*.iws
*.iml

# building
target
build
tmp
dist
output

# misc
.DS_Store

/dependency-reduced-pom.xml
/joaswizard.log
/src/test/resources/.~lock.objectimport.xlsx#
